.App {
  text-align: center;
  
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding:2px;
  color: white;
  margin-bottom: 20px;
  
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}

body {
  background-color: rgb(55, 44, 44);
  background-image: url('/public/images/goat_small.jpg');
  background-size: cover;
  background-blend-mode: multiply;

  color: rgb(240, 240, 240);
}

button {
  margin-left: 12px;
  background-color:rgb(211, 211, 211);
  border-radius: 8px;
  cursor: pointer;
}

ul,
li {
  margin-right: 2%;
  list-style: none;
}

.warning {
  
  margin: auto;
  max-height: 20px;
  max-width: fit-content;
  margin-top: 10px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 8px;
  color: rgb(222, 33, 33);
  background-color: #19448a;
}